{% extends "base.html.twig" %}

{% block body %}
    <div style="height: 100vh;display: flex;flex-direction: column;justify-content: center;align-items: center">
        <h1>ERREUR 404 !</h1>
        <p>
            Retourner sur la <a href="{{ path("todos") }}">page d'accueil</a>
        </p>
    </div>
{% endblock body %}